<div class='payfast'>
    <div class='errors'>
        <div style="width:200px;margin:auto;margin-top:20px">
            <img style="width:100%" src="<?php echo $block->getViewFileUrl('Apps_Payfast::images/payfast-p.png'); ?>">
            <center>Connecting to PayFast ...</center>
        </div>
        <form method="POST" name='payfast_webcehckout' action='<?= $this->getAction() ?>'>
            <?php $storeScope = \Magento\Store\Model\ScopeInterface::SCOPE_STORE; ?>
            <INPUT TYPE="hidden" NAME="MERCHANT_ID" VALUE="<?php echo $this->payfast_merchant_id; ?>">
            <INPUT TYPE="hidden" NAME="MERCHANT_NAME" value="<?php echo $this->store_merchant_name; ?>">
            <INPUT TYPE="hidden" NAME="TOKEN" VALUE="<?php echo $this->authToken; ?>">
            <INPUT TYPE="hidden" NAME="PROCCODE" VALUE="00">
            <INPUT TYPE="hidden" NAME="TXNAMT" VALUE="<?php echo $this->orderAmount; ?>">
            <INPUT TYPE="hidden" NAME="CUSTOMER_MOBILE_NO" VALUE="<?php echo $this->customerData['mobile']; ?>">
            <INPUT TYPE="hidden" NAME="CUSTOMER_EMAIL_ADDRESS" VALUE="<?php echo $this->customerData['email']; ?>">
            <INPUT TYPE="hidden" NAME="SIGNATURE" VALUE="MAGENTO2EXTPAYFAST-<?php echo  $this->store_merchant_name; ?>">
            <INPUT TYPE="hidden" NAME="VERSION" VALUE="MAG242-VER2.0">
            <INPUT TYPE="hidden" NAME="TXNDESC" VALUE="Product Purchased via <?php echo  $this->store_merchant_name; ?>">
            <INPUT TYPE="hidden" NAME="SUCCESS_URL" VALUE="<?php echo $this->responseUrl; ?>">
            <INPUT TYPE="hidden" NAME="FAILURE_URL" VALUE="<?php echo $this->responseUrl; ?>">
            <INPUT TYPE="hidden" NAME="BASKET_ID" VALUE="<?php echo $this->basketId; ?>">
            <INPUT TYPE="hidden" NAME="ORDER_DATE" VALUE="<?php echo date('Y-m-d H:i:s', time()); ?>">
            <INPUT TYPE="hidden" NAME="CURRENCY_CODE" VALUE="<?php echo $this->currency_code; ?>">
            <INPUT TYPE="hidden" NAME="CHECKOUT_URL" VALUE="<?php echo $this->ipnResponseUrl; ?>">

            <!-- Additional Parameters -->
            <INPUT TYPE="HIDDEN" NAME="GUEST_CUSTOMER" value="<?php echo  $this->is_guest; ?>">
            <INPUT TYPE="HIDDEN" NAME="CUSTOMER_NAME" value="<?php echo  $this->customer_name; ?>">
            <INPUT TYPE="HIDDEN" NAME="CUSTOMER_IPADDRESS" value="<?php echo  $this->customer_ip; ?>">
            <INPUT TYPE="HIDDEN" NAME="COUNTRY" value="<?php echo  $this->country_id; ?>">

            <INPUT TYPE="HIDDEN" NAME="SHIPPING_CUSTOMER_NAME" value="<?php echo  $this->shipping_customer_name; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_1" value="<?php echo  $this->shipping_address_1; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_2" value="<?php echo  $this->shipping_address_2; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_CITY" value="<?php echo  $this->shipping_city; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_STATE_PROVINCE" value="<?php echo  $this->shipping_region; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_POSTALCODE" value="<?php echo  $this->shipping_postcode; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_METHOD" value="<?php echo  $this->shipping_method; ?>">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_COUNTRY" value="<?php echo  $this->shipping_country; ?>">

            <INPUT TYPE="HIDDEN" NAME="BILLING_CUSTOMER_NAME" value="<?php echo  $this->billing_customer_name; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_CITY" value="<?php echo  $this->billing_city; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_1" value="<?php echo  $this->billing_address_1; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_2" value="<?php echo  $this->billing_address_2; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_STATE_PROVINCE" value="<?php echo  $this->billing_region; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_POSTALCODE" value="<?php echo  $this->billing_postcode; ?>">
            <INPUT TYPE="HIDDEN" NAME="BILLING_COUNTRY" value="<?php echo  $this->billing_country; ?>">

            <INPUT TYPE="HIDDEN" NAME="MERCHANT_USERAGENT" value="<?php echo  $_SERVER['HTTP_USER_AGENT']; ?>">

            <?php
            $itemCount = 0;
            foreach ($this->itemsList as $item) {?>

                <INPUT TYPE="HIDDEN" NAME="ITEMS[<?php echo $itemCount; ?>][SKU]" value="<?php echo $item['sku']; ?>">
                <INPUT TYPE="HIDDEN" NAME="ITEMS[<?php echo $itemCount; ?>][NAME]" value="<?php echo $item['name']; ?>">
                <INPUT TYPE="HIDDEN" NAME="ITEMS[<?php echo $itemCount; ?>][PRICE]" value="<?php echo $item['price']; ?>">
                <INPUT TYPE="HIDDEN" NAME="ITEMS[<?php echo $itemCount; ?>][QTY]" value="<?php echo $item['qty']; ?>">

            <?php } ?>
        </form>
        <script>
            document.payfast_webcehckout.submit();
        </script>
    </div>

</div>