<?php

$urlBuilder = \Magento\Framework\App\ObjectManager::getInstance()
    ->get('Magento\Framework\UrlInterface');
$url = $urlBuilder->getUrl("checkout");
?>

<h5><a href="<?php echo $url; ?>">Go to Checkout Page</a></h5>